* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #0B2A1D;
    text-align: center;
    width: 100%;
    height: 10vh;
    position: relative;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: greenyellow;
}

.ctt {
    text-decoration: none;
    color: aquamarine;
}

body {
    background-color: #080808;
    font-family: 'Oxanium', sans-serif;
    box-shadow: inset 25px 0px 500px black;
}

/*Menu*/

.menu-box {
    display: flex;
    background-color: #0B2A1D;
    width: auto;
    height: 100px;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px greenyellow;
}

.menu-box .menu-title {
    display:  flex;
    color: white;
    letter-spacing: 5px;
    font-size: 50px;
}

.menu-subtitle {
    display: flex;
    background-color: #0B2A1D;
    box-shadow: 0px 0px 15px greenyellow;
    border-radius: 100px;
    color: white;
    font-size: 15px;
    letter-spacing: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: auto;
    margin: 10px 5% 10px 5%;   
}

.sail-box {
    display: flex;
    background-color: #0B2A1D;
    border-radius: 12.5px;
    width: auto;
    width: 50%;
    height: 50px;
    margin: 10px 10px 10px 25%;
    padding: 10px;
    box-shadow: 0px 0px 10px greenyellow;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;           /*OBS: Espaçamento a baixo da caixa de navegação*/
}

.sail-box .sail-items {
    display: flex;
    background-color: #2B4D2D;
    color: white;
    text-decoration: none;
    padding: 6.25px;
    margin: 2px;
    align-items: center;
    border-radius: 8px;
    width: auto;
    height: 25px;
}

.sail-box .home-button-color {
    background-color: #2B4D2D;
    color: white;
    margin: 10px;
}

.sail-box .button-page-in {
    box-shadow: inset 0px 0px 5px greenyellow;
    height: 32px;
    padding: 10px;
    margin: 5px;
}

.menu-box .menu-photo {
    width: 75px ;
    height: 75px;
    margin: 0px 25px 0px -10px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px greenyellow;
}

/*Menu*/

.cx-post-box {
    display: flex;
    background-color: #0B2A1D;
    box-shadow: 0px 0px 10px greenyellow;
    color: white;
    font-size: 25px;
    width: auto;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 75px 100px 100px 100px;
    padding: 10px;
    gap: 100px;
}

.post-back {
    background-color: #2B4D2D;
    border-radius: 25px;
    width: auto;
    padding: 10px;
}

.ch-matter-box {
    display: flex;
    background-color: #0B2A1D;
    box-shadow: 0px 0px 10px greenyellow;
    width: auto;
    height: 300px;
    border-radius: 25px;
    padding: 10px;
    margin: 75px 100px 100px 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.ch-matter-box .ch-img-ttk {
    box-shadow: 0px 0px 25px 5px #2B4D2D;
    background-color: #2B4D2D;
    padding: 10px;
    border-radius: 25px;
}

.ch-matter-box .ch-img-title {
    display: flex;
    color: white;
    margin: 10px;
    font-size: 25px;
}

.ch-matter-box .ch-img-text {
    display: block;
    color: white;
    margin: 10px;
    font-size: 15px;
}

.go-button {
    display: flex;
    background-color: #2B4D2D;
    box-shadow: 10px 10px 10px black, inset 0px 0px 10px greenyellow;
    color: white;
    text-decoration: none;
    padding: 10px;
    /*margin: -22px;*/          /* OBS: Está mudando o espaçamento entre cada um!!!!! */
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    width: auto;
    height: auto;
}

.prin-box {
    font-size: 50px;
    color: white;
    background-color: black;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px 10px black, inset 0px 0px 5px white;
}

.amzn-photo {
    width: 200px;
}

.ch-img-amzn {
    box-shadow: 0px 0px 25px orange;
}

.organic-box {
    background-color: black;
    box-shadow: 0px 0px 25px 10px black, inset 0px 0px 5px white;
    color: white;
    font-size: 25px;
    width: 150px;
    height: 150px;
    padding: 40px;
    border-radius: 100%;
}

.ch-img-spotify {
    background-color: #080808;
    box-shadow: 0px 0px 10px 10px #080808;
    padding: 20px;
    width: 170px;
    height: 170px;
    border-radius: 35px;
}

/*Mobile*/

@media screen and (max-width: 520px) {
    .menu-box .menu-title {
        font-size: 30px;
    }

    .sail-box {
        width: auto;
        margin-right: -50%;
        margin: 10px 5% 10px 5%;
        margin-bottom: 25px;
    }

    .ch-matter-box {
        margin: 25px;
        height: auto;
        padding: 30px;
        flex-direction: column;
        gap: 50px;
    }

    .go-button{
        justify-content: center;
        width: 200px;
    }

    .cx-post-box {
        margin: 25px;
        height: auto;
        padding: 30px;
        flex-direction: column;
        gap: 50px;
    }

    .menu-subtitle {
        font-size: 10px;
        margin: 30px 5% 30px 5%;
    }
}

/*Mobile*/

